asgiref==3.2.10
DateTime==4.3
dill==0.3.2
Django==3.0.8
djangorestframework==3.11.0
echarts==0.0.0
Jinja2==2.11.2
MarkupSafe==1.1.1
multiprocess==0.70.10
numpy==1.19.0
pandas==1.0.5
peppercorn==0.6
prettytable==0.7.2
psutil==5.7.0
pyecharts==1.8.1
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
schedule==0.6.0
simplejson==3.17.0
six==1.15.0
sqlparse==0.3.1
tqdm==4.47.0
zope.interface==5.1.0
