{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0”>-->
<title>temp</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/FreeSpace.css' %}">


<script type="text/javascript" src="{% static 'echarts.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
{% endblock %}


{% block body %}
<div class="container page-header">
    <h1>这是我的博客
        <small>--by peter_yang</small>
    </h1>
</div>

<div class="container page-body">
    <div class="col-md-9" role="main">
        <p>hello</p>
    </div>

    <div class="col-md-3" role="complementary">
        <div>
            <h2>最新文章</h2>
        </div>
    </div>
</div>
{% endblock %}