<!-- 设置彩虹条置顶 -->
<div>
    <img src="/static/img/rainbow_bar.png " width="100%" alt="rainbow_bar.png">
</div>
<!-- 设置bosch_logo -->
<div >
    <img src="/static/img/logo.jpg" alt="BOSCH LOGO" width="150" height="35" align="right">
</div>

<div>
    <table cellspacing="5" ,cellpadding="5" , border="0">
        <tr style="font-size: 22px">
            <td><a href="/" style="text-decoration: none"><font color="FF3300">Home Page-></font></a></td>
            <td><a href="/1" style="text-decoration: none"><font color="FF3300">Radar_05</font></a></td>
        </tr>
    </table>
</div>
